In [69]:
# Import libraries

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization
from matplotlib import pyplot as plt
from kaggle_olympic_games_medals import KaggleOlympicGamesMedals

In [70]:
# Instantiate the olympic games medal class
# and load the data
data_dir = '../data/kaggle/olympic-games-medals'
ogm = KaggleOlympicGamesMedals(data_dir)

Data Loaded

In [71]:
# Get the medals dataframe with standardized country names
df_medals = ogm.get_medals_by_std_country_name()
df_medals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20124 entries, 0 to 21696
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       20124 non-null  object
 1   slug_game              20124 non-null  object
 2   event_title            20124 non-null  object
 3   event_gender           20124 non-null  object
 4   medal_type             20124 non-null  object
 5   participant_type       20124 non-null  object
 6   country_name           20124 non-null  object
 7   country_3_letter_code  20124 non-null  object
 8   game_end_date          20124 non-null  object
 9   game_start_date        20124 non-null  object
 10  game_location          20124 non-null  object
 11  game_name              20124 non-null  object
 12  game_season            20124 non-null  object
 13  game_year              20124 non-null  int64
dtypes: int64(1), object(13)
memory usage: 2.3+ MB

In [72]:
# Get list of unique medals countries
med_country_list = df_medals['country_name'].sort_values(ascending=True).unique()
print(med_country_list)
print(len(med_country_list))

['Afghanistan' 'Algeria' 'Argentina' 'Armenia' 'Australasia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Bermuda' 'Bohemia' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cameroon' 'Canada' 'Chile' 'China' 'Chinese Taipei' 'Colombia'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' "Côte d'Ivoire"
 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt' 'Eritrea'
 'Estonia' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Georgia'
 'Germany' 'Ghana' 'Great Britain' 'Greece' 'Grenada' 'Guatemala' 'Guyana'
 'Haiti' 'Hong Kong, China' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'MIX' 'Malaysia' 'Mauritius' 'Mexico' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Netherlands'
 'Netherlands Antilles' 'New Zealand' 'Niger' 'Nigeria' 'North Korea'
 'North Macedonia' 'Norway' 'Olympic Athletes from Russia' 'Pakistan'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Moldova' 'Romania' 'Russia' 'Samoa'
 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Serbia and Montenegro'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'Unified Team' 'United Arab Emirates' 'United Arab Republic'
 'United Republic of Tanzania' 'United States' 'Uruguay' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'Virgin Islands, US' 'West Indies Federation'
 'Yugoslavia' 'Zambia' 'Zimbabwe']
148

In [140]:
# Load the happiness dataset reference and data into dataframes
df_happiness_ref = pd.read_csv('../data/world-happiness/world_happiness_reference.csv')
df_happiness_ref.to_csv('../data/etl/happiness_reference.csv', index=False)
df_happiness = pd.read_csv('../data/world-happiness/world_happiness.csv')
# Rename columns
cols = {
    'Country name':'country', 
    'Life Ladder':'happiness',
    'Log GDP per capita':'wealth',
    'Social support':'support',
    'Healthy life expectancy at birth':'health',
    'Freedom to make life choices':'freedom',
    'Generosity':'generosity',
    'Perceptions of corruption':'corruption',
    'Positive affect':'positivity',
    'Negative affect':'negativity'
}
df_happiness = df_happiness.rename(columns=cols)
#df_happiness.info()

In [74]:
# Get list of unique happiness countries
hap_country_list = df_happiness['country'].unique()
print(hap_country_list)
print(len(hap_country_list))

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong S.A.R. of China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'Somaliland region' 'South Africa' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'Türkiye' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen'
 'Zambia' 'Zimbabwe']
165

In [139]:
df_nutrition_ref = pd.read_csv('../data/World_Bank/food_nutrition_2017_clean_ref.csv')
df_nutrition_ref.to_csv('../data/etl/nutrition_2017_reference.csv', index=False)
df_nutrition_ref

       column_name                                 column_description
0     country_code                                       Country Code
1     country_name                                       Country Name
2     calories_pct  Percent of the population who cannot afford su...
3    nutrients_pct  Percent of the population who cannot afford nu...
4         diet_pct  Percent of the population who cannot afford a ...
5   calories_mills  Millions of people who cannot afford sufficien...
6  nutrients_mills  Millions of people who cannot afford nutrient ...
7       diet_mills  Millions of people who cannot afford a healthy...
8       population                                   Population [Pop]

In [136]:
df_nutrition = pd.read_csv('../data/World_Bank/food_nutrition_2017_clean.csv', encoding = "ISO-8859-1")
df_nutrition.to_csv('../data/etl/nutrition_2017_by_country.csv', index=False)
df_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     186 non-null    object
 1   country_name     186 non-null    object
 2   calories_pct     155 non-null    float64
 3   nutrients_pct    155 non-null    float64
 4   diet_pct         155 non-null    float64
 5   calories_mills   155 non-null    float64
 6   nutrients_mills  155 non-null    float64
 7   diet_mills       155 non-null    float64
 8   population       183 non-null    float64
dtypes: float64(7), object(2)
memory usage: 13.2+ KB

In [106]:
# Get list of unique nutrition countries
nut_country_list = df_nutrition['country_name'].sort_values(ascending=True).unique()
print(nut_country_list)
print(len(nut_country_list))

['Albania' 'Algeria' 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Costa Rica' 'Croatia' 'Curacao' 'Cyprus' 'Czech Republic'
 "CÃ\x83Â´te d'Ivoire" 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Asia & Pacific' 'Ecuador' 'Egypt, Arab Rep.'
 'El Salvador' 'Equatorial Guinea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Europe & Central Asia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia, The'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'High income' 'Honduras' 'Hong Kong SAR, China' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Korea, Rep.' 'Kuwait' 'Kyrgyz Republic' 'Lao PDR'
 'Latin America & Caribbean' 'Latvia' 'Lesotho' 'Liberia' 'Lithuania'
 'Low income' 'Lower middle income' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico'
 'Middle East & North Africa' 'Moldova' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North America'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovak Republic' 'Slovenia' 'South Africa' 'South Asia' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Vincent and the Grenadines' 'Sub-Saharan Africa' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Taiwan, China' 'Tajikistan' 'Tanzania' 'Thailand'
 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turks and Caicos Islands'
 'TÃ\x83Â¼rkiye' 'Uganda' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Upper middle income' 'Uruguay' 'Vietnam' 'WORLD'
 'West Bank and Gaza' 'Zambia' 'Zimbabwe']
186

In [117]:
df_gdp = pd.read_csv('../data/World_Bank/World_Bank_GDP_Cleaned.csv')
df_gdp.head(10)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Average
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2962.91,2983.64,3092.43,3276.18,3395.80,2558.91,3103.18,3544.71,NaN,2048.89
1,Africa Eastern and Southern,AFE,21216.96,22307.47,23702.47,25779.38,28049.54,30374.91,33049.16,35933.76,...,899295.68,829829.96,940105.48,1012719.34,1006527.29,929074.09,1086772.16,1183962.13,1236163.04,376676.48
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19134.22,18116.57,18753.46,18053.22,18799.44,19955.93,14266.50,14502.16,NaN,13093.44
3,Africa Western and Central,AFW,11884.13,12685.66,13606.83,14439.98,15769.11,16934.48,18048.04,16495.77,...,769367.32,692181.09,685750.16,768189.59,823933.63,787146.72,845993.05,877140.81,796586.16,279521.42
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90496.42,52761.62,73690.15,79450.69,70897.96,48501.56,66505.13,104399.75,84722.96,54654.05
5,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11386.85,11861.20,13019.73,15156.42,15401.83,15162.73,17930.57,18916.38,22977.68,7868.64
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2789.88,2896.61,3000.16,3218.42,3155.15,2891.00,3324.68,3380.60,3727.67,1699.46
7,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,26772.09,28352.06,30601.97,...,2544136.35,2499965.91,2571053.72,2865543.59,2898668.72,2576553.32,2969116.81,3613682.35,3491516.94,1074237.82
8,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,370275.47,369255.33,390516.80,427049.43,417989.72,349473.02,415178.79,507063.97,504173.45,159731.61
9,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,594749.29,557532.32,643628.39,524819.89,447754.68,385740.51,487902.57,631133.38,640591.41,317986.22

In [134]:
df_gdp_avg = df_gdp[['Country Name', 'Average']].copy()
df_gdp_avg.rename(columns={'Country Name': 'country_name', 'Average': 'gdp_avg'}, inplace=True)
df_gdp_avg.to_csv('../data/etl/gdp_avg_by_country.csv', index=False)
df_gdp_avg.head(10)

                  country_name     gdp_avg
0                        Aruba     2048.89
1  Africa Eastern and Southern   376676.48
2                  Afghanistan    13093.44
3   Africa Western and Central   279521.42
4                       Angola    54654.05
5                      Albania     7868.64
6                      Andorra     1699.46
7                   Arab World  1074237.82
8         United Arab Emirates   159731.61
9                    Argentina   317986.22

In [131]:
# Get the count of medals for each country
drop_medal_cols = ['slug_game', 'game_end_date', 'game_start_date', 'game_location', 'game_name', 'game_year']
group_medal_cols = ['game_season', 'country_3_letter_code', 'country_name', 'discipline_title', 'event_title', 'event_gender', 'medal_type']
df_medals_season_country = df_medals.drop(columns=drop_medal_cols).groupby(
    group_medal_cols
)['participant_type'].count().reset_index()
df_medals_season_country.rename(columns={'participant_type':'medal_count', 'country_3_letter_code':'country_code'}, inplace=True)
df_medals_season_country.to_csv('../data/etl/medals_by_season_country_discip_event_type.csv', index=False)
df_medals_season_country.head(10)

,game_season,country_code,country_name,discipline_title,event_title,event_gender,medal_type,medal_count
0,Summer,AFG,Afghanistan,Taekwondo,58 - 68 kg men,Men,BRONZE,1
1,Summer,AFG,Afghanistan,Taekwondo,beijing 2008 taekwondo - 58 kg men,Men,BRONZE,1
2,Summer,AHO,Netherlands Antilles,Sailing,division ii - windsurfer men,Open,SILVER,1
3,Summer,ALG,Algeria,Athletics,1500m men,Men,GOLD,2
4,Summer,ALG,Algeria,Athletics,1500m men,Men,SILVER,1
5,Summer,ALG,Algeria,Athletics,1500m women,Women,GOLD,2
6,Summer,ALG,Algeria,Athletics,5000m men,Men,SILVER,1
7,Summer,ALG,Algeria,Athletics,800m men,Men,BRONZE,1
8,Summer,ALG,Algeria,Athletics,800m men,Men,SILVER,1
9,Summer,ALG,Algeria,Athletics,high jump men,Men,BRONZE,1

In [132]:
drop_medal_cols = ['game_season', 'discipline_title', 'event_title', 'event_gender', 'medal_type']
group_medal_cols = ['country_code', 'country_name']
df_medals_country_only = df_medals_season_country.drop(columns=drop_medal_cols).groupby(
    group_medal_cols
)['medal_count'].sum().reset_index()
df_medals_country_only.to_csv('../data/etl/medals_by_country.csv', index=False)
df_medals_country_only.head(10)

  country_code          country_name  medal_count
0          AFG           Afghanistan            2
1          AHO  Netherlands Antilles            1
2          ALG               Algeria           17
3          ANZ           Australasia           12
4          ARG             Argentina           77
5          ARM               Armenia           18
6          AUS             Australia          566
7          AUT               Austria          342
8          AZE            Azerbaijan           50
9          BAH               Bahamas           16

In [135]:
df_happiness_country = df_happiness.drop(columns=['year']).groupby('country').mean().reset_index()
df_happiness_country.to_csv('../data/etl/happiness_avg_by_country.csv', index=False)
df_happiness_country.head(10)

,country,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity
0,Afghanistan,3.219917,7.585624,0.476654,52.711667,0.480475,0.056325,0.835824,0.421804,0.370840
1,Albania,5.072808,9.416875,0.714302,68.548750,0.694877,-0.068280,0.868671,0.559857,0.294572
2,Algeria,5.391880,9.338236,0.811683,66.136363,0.520711,-0.132543,0.688052,0.540448,0.266245
3,Angola,4.420299,8.985547,0.737973,52.150001,0.455957,-0.093218,0.867018,0.625734,0.351173
4,Argentina,6.289722,10.028808,0.901894,66.700000,0.777786,-0.153203,0.839019,0.737995,0.288382
5,Armenia,4.679549,9.339652,0.732543,65.866177,0.605719,-0.198377,0.820091,0.502449,0.442820
6,Australia,7.242307,10.764977,0.942319,70.570588,0.914413,0.254107,0.429199,0.737576,0.218661
7,Austria,7.178953,10.889285,0.918656,70.487501,0.894061,0.132884,0.560432,0.715841,0.190152
8,Azerbaijan,4.935251,9.527749,0.760488,62.507812,0.681153,-0.158288,0.693731,0.518247,0.240791
9,Bahrain,5.998169,10.784244,0.874401,65.655000,0.862112,0.064640,0.553173,0.670940,0.351944

In [110]:
# Merge medals and happiness datasets
df_merged_medal_hap = df_medals_country_only.merge(right=df_happiness_country, how='left',
                             left_on='country_name', right_on='country')
df_merged_medal_hap.drop(columns=['country'], inplace=True)
df_merged_medal_hap.head(10)

,country_code,country_name,medal_count,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity
0,AFG,Afghanistan,2,3.219917,7.585624,0.476654,52.711667,0.480475,0.056325,0.835824,0.421804,0.370840
1,AHO,Netherlands Antilles,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALG,Algeria,17,5.391880,9.338236,0.811683,66.136363,0.520711,-0.132543,0.688052,0.540448,0.266245
3,ANZ,Australasia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARG,Argentina,77,6.289722,10.028808,0.901894,66.700000,0.777786,-0.153203,0.839019,0.737995,0.288382
5,ARM,Armenia,18,4.679549,9.339652,0.732543,65.866177,0.605719,-0.198377,0.820091,0.502449,0.442820
6,AUS,Australia,566,7.242307,10.764977,0.942319,70.570588,0.914413,0.254107,0.429199,0.737576,0.218661
7,AUT,Austria,342,7.178953,10.889285,0.918656,70.487501,0.894061,0.132884,0.560432,0.715841,0.190152
8,AZE,Azerbaijan,50,4.935251,9.527749,0.760488,62.507812,0.681153,-0.158288,0.693731,0.518247,0.240791
9,BAH,Bahamas,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
# Merge with nutrition dataset
df_merged_medal_hap_nut = df_merged_medal_hap.merge(right=df_nutrition, how='left',
                             left_on='country_name', right_on='country_name')
df_merged_medal_hap_nut.drop(columns=['country_code_x', 'country_code_y'], inplace=True)
df_merged_medal_hap_nut.reset_index(drop=True, inplace=True)
df_merged_medal_hap_nut.head()

,country_name,medal_count,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity,calories_pct,nutrients_pct,diet_pct,calories_mills,nutrients_mills,diet_mills,population
0,Afghanistan,2,3.219917,7.585624,0.476654,52.711667,0.480475,0.056325,0.835824,0.421804,0.370840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Netherlands Antilles,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,17,5.391880,9.338236,0.811683,66.136363,0.520711,-0.132543,0.688052,0.540448,0.266245,0.2,7.2,35.2,0.1,3.0,14.6,41389174.0
3,Australasia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,77,6.289722,10.028808,0.901894,66.700000,0.777786,-0.153203,0.839019,0.737995,0.288382,0.3,7.1,11.0,0.1,3.1,4.8,44044811.0

In [124]:
df_gdp_avg.head()

                  country_name    gdp_avg
0                        Aruba    2048.89
1  Africa Eastern and Southern  376676.48
2                  Afghanistan   13093.44
3   Africa Western and Central  279521.42
4                       Angola   54654.05

In [126]:
# df_gdp_avg
df_merged_medal_hap_nut_gdp = df_merged_medal_hap_nut.merge(right=df_gdp_avg, how='left',
                             left_on='country_name', right_on='country_name')
df_merged_medal_hap_nut_gdp.reset_index(drop=True, inplace=True)
df_merged_medal_hap_nut_gdp.head()

,country_name,medal_count,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity,calories_pct,nutrients_pct,diet_pct,calories_mills,nutrients_mills,diet_mills,population,gdp_avg
0,Afghanistan,2,3.219917,7.585624,0.476654,52.711667,0.480475,0.056325,0.835824,0.421804,0.370840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13093.44
1,Netherlands Antilles,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,17,5.391880,9.338236,0.811683,66.136363,0.520711,-0.132543,0.688052,0.540448,0.266245,0.2,7.2,35.2,0.1,3.0,14.6,41389174.0,79710.57
3,Australasia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,77,6.289722,10.028808,0.901894,66.700000,0.777786,-0.153203,0.839019,0.737995,0.288382,0.3,7.1,11.0,0.1,3.1,4.8,44044811.0,317986.22

In [127]:
# Set country name as index
df_merged_medal_hap_nut_gdp = df_merged_medal_hap_nut_gdp.set_index('country_name')

In [129]:
df_merged_medal_hap_nut_gdp.head(10)

,medal_count,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity,calories_pct,nutrients_pct,diet_pct,calories_mills,nutrients_mills,diet_mills,population,gdp_avg
country_name,,,,,,,,,,,,,,,,,,
Afghanistan,2,3.219917,7.585624,0.476654,52.711667,0.480475,0.056325,0.835824,0.421804,0.370840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13093.44
Netherlands Antilles,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,17,5.391880,9.338236,0.811683,66.136363,0.520711,-0.132543,0.688052,0.540448,0.266245,0.2,7.2,35.2,0.1,3.0,14.6,41389174.0,79710.57
Australasia,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,77,6.289722,10.028808,0.901894,66.700000,0.777786,-0.153203,0.839019,0.737995,0.288382,0.3,7.1,11.0,0.1,3.1,4.8,44044811.0,317986.22
Armenia,18,4.679549,9.339652,0.732543,65.866177,0.605719,-0.198377,0.820091,0.502449,0.442820,0.6,16.8,40.9,0.0,0.5,1.2,2944789.0,7407.48
Australia,566,7.242307,10.764977,0.942319,70.570588,0.914413,0.254107,0.429199,0.737576,0.218661,0.2,0.5,0.7,0.1,0.1,0.2,24601860.0,521918.13
Austria,342,7.178953,10.889285,0.918656,70.487501,0.894061,0.132884,0.560432,0.715841,0.190152,0.2,0.5,0.6,0.0,0.0,0.1,8797566.0,197169.69
Azerbaijan,50,4.935251,9.527749,0.760488,62.507812,0.681153,-0.158288,0.693731,0.518247,0.240791,0.0,0.0,0.0,0.0,0.0,0.0,9854033.0,30686.34
Bahamas,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# Check correlations between columns
df_merged_medal_hap_nut_gdp.corr()

,medal_count,happiness,wealth,support,health,freedom,generosity,corruption,positivity,negativity,calories_pct,nutrients_pct,diet_pct,calories_mills,nutrients_mills,diet_mills,population,gdp_avg
medal_count,1.000000,0.342612,0.348389,0.281098,0.275468,0.165229,0.107282,-0.178549,0.153936,-0.201068,-0.149627,-0.286314,-0.327956,-0.043400,-0.044599,-0.039893,0.230824,0.885628
happiness,0.342612,1.000000,0.814470,0.760100,0.761600,0.650397,0.312147,-0.556495,0.598973,-0.371051,-0.448694,-0.712488,-0.766088,-0.193019,-0.209292,-0.212365,-0.115275,0.234903
wealth,0.348389,0.814470,1.000000,0.728761,0.815506,0.494660,0.075902,-0.452579,0.294226,-0.276873,-0.547918,-0.871588,-0.891186,-0.242783,-0.214195,-0.216167,-0.111511,0.232601
support,0.281098,0.760100,0.728761,1.000000,0.644418,0.496484,0.119679,-0.284739,0.485766,-0.485104,-0.495529,-0.683117,-0.713014,-0.211900,-0.325829,-0.338704,-0.198300,0.161830
health,0.275468,0.761600,0.815506,0.644418,1.000000,0.427368,0.034433,-0.344371,0.276505,-0.188194,-0.614872,-0.871514,-0.866142,-0.295779,-0.179311,-0.174230,-0.038925,0.199235
freedom,0.165229,0.650397,0.494660,0.496484,0.427368,1.000000,0.391201,-0.545385,0.703137,-0.409892,-0.297777,-0.373804,-0.431323,-0.088938,0.003978,-0.002680,0.066242,0.162301
generosity,0.107282,0.312147,0.075902,0.119679,0.034433,0.391201,1.000000,-0.359511,0.396600,-0.156471,0.051125,0.077705,0.067956,0.100685,0.084033,0.087859,0.005751,0.092447
corruption,-0.178549,-0.556495,-0.452579,-0.284739,-0.344371,-0.545385,-0.359511,1.000000,-0.311047,0.286188,0.173086,0.284626,0.343809,0.145595,0.106364,0.110149,0.099941,-0.094555
positivity,0.153936,0.598973,0.294226,0.485766,0.276505,0.703137,0.396600,-0.311047,1.000000,-0.360300,-0.035895,-0.116561,-0.202838,0.060983,-0.063666,-0.074321,0.000495,0.163249
negativity,-0.201068,-0.371051,-0.276873,-0.485104,-0.188194,-0.409892,-0.156471,0.286188,-0.360300,1.000000,0.056507,0.199773,0.245372,0.006418,0.114541,0.113278,-0.021245,-0.114143
calories_pct,-0.149627,-0.448694,-0.547918,-0.495529,-0.614872,-0.297777,0.051125,0.173086,-0.035895,0.056507,1.000000,0.724180,0.639787,0.578167,0.098554,0.078885,-0.012786,-0.108538
nutrients_pct,-0.286314,-0.712488,-0.871588,-0.683117,-0.871514,-0.373804,0.077705,0.284626,-0.116561,0.199773,0.724180,1.000000,0.962532,0.406271,0.282800,0.272693,0.104259,-0.194432
diet_pct,-0.327956,-0.766088,-0.891186,-0.713014,-0.866142,-0.431323,0.067956,0.343809,-0.202838,0.245372,0.639787,0.962532,1.000000,0.376450,0.291764,0.291826,0.114290,-0.222118
calories_mills,-0.043400,-0.193019,-0.242783,-0.211900,-0.295779,-0.088938,0.100685,0.145595,0.060983,0.006418,0.578167,0.406271,0.376450,1.000000,0.431217,0.409342,0.261343,0.013970
nutrients_mills,-0.044599,-0.209292,-0.214195,-0.325829,-0.179311,0.003978,0.084033,0.106364,-0.063666,0.114541,0.098554,0.282800,0.291764,0.431217,1.000000,0.996512,0.769633,0.071771
diet_mills,-0.039893,-0.212365,-0.216167,-0.338704,-0.174230,-0.002680,0.087859,0.110149,-0.074321,0.113278,0.078885,0.272693,0.291826,0.409342,0.996512,1.000000,0.799213,0.083928
population,0.230824,-0.115275,-0.111511,-0.198300,-0.038925,0.066242,0.005751,0.099941,0.000495,-0.021245,-0.012786,0.104259,0.114290,0.261343,0.769633,0.799213,1.000000,0.417532
gdp_avg,0.885628,0.234903,0.232601,0.161830,0.199235,0.162301,0.092447,-0.094555,0.163249,-0.114143,-0.108538,-0.194432,-0.222118,0.013970,0.071771,0.083928,0.417532,1.000000