In [1]:
# Import libraries

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization
from matplotlib import pyplot as plt
from kaggle_olympic_games_medals import KaggleOlympicGamesMedals

In [2]:
# Instantiate the olympic games medal class
# and load the data
data_dir = '../data/kaggle/olympic-games-medals'
ogm = KaggleOlympicGamesMedals(data_dir)

Data Loaded

In [18]:
# Get the medals dataframe with standardized country names
df_medals = ogm.get_medals_by_std_country_name()
df_medals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20124 entries, 0 to 21696
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       20124 non-null  object
 1   slug_game              20124 non-null  object
 2   event_title            20124 non-null  object
 3   event_gender           20124 non-null  object
 4   medal_type             20124 non-null  object
 5   participant_type       20124 non-null  object
 6   country_name           20124 non-null  object
 7   country_3_letter_code  20124 non-null  object
 8   game_end_date          20124 non-null  object
 9   game_start_date        20124 non-null  object
 10  game_location          20124 non-null  object
 11  game_name              20124 non-null  object
 12  game_season            20124 non-null  object
 13  game_year              20124 non-null  int64
dtypes: int64(1), object(13)
memory usage: 2.3+ MB

In [13]:
# Get list of unique medals countries
med_country_list = df_medals['country_name'].sort_values(ascending=True).unique()
print(med_country_list)
print(len(med_country_list))

['Afghanistan' 'Algeria' 'Argentina' 'Armenia' 'Australasia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Bermuda' 'Bohemia' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cameroon' 'Canada' 'Chile' 'China' 'Chinese Taipei' 'Colombia'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' "Côte d'Ivoire"
 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador' 'Egypt' 'Eritrea'
 'Estonia' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Georgia'
 'Germany' 'Ghana' 'Great Britain' 'Greece' 'Grenada' 'Guatemala' 'Guyana'
 'Haiti' 'Hong Kong, China' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'MIX' 'Malaysia' 'Mauritius' 'Mexico' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Netherlands'
 'Netherlands Antilles' 'New Zealand' 'Niger' 'Nigeria' 'North Korea'
 'North Macedonia' 'Norway' 'Olympic Athletes from Russia' 'Pakistan'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Moldova' 'Romania' 'Russia' 'Samoa'
 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Serbia and Montenegro'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'Unified Team' 'United Arab Emirates' 'United Arab Republic'
 'United Republic of Tanzania' 'United States' 'Uruguay' 'Uzbekistan'
 'Venezuela' 'Vietnam' 'Virgin Islands, US' 'West Indies Federation'
 'Yugoslavia' 'Zambia' 'Zimbabwe']
148

In [ ]:
# Load the happiness dataset reference and data into dataframes
df_happiness_ref = pd.read_csv('../data/world-happiness/world_happiness_reference.csv')
df_happiness = pd.read_csv('../data/world-happiness/world_happiness.csv')
# Rename columns
cols = {
    'Country name':'country', 
    'Life Ladder':'happiness',
    'Log GDP per capita':'wealth',
    'Social support':'support',
    'Healthy life expectancy at birth':'health',
    'Freedom to make life choices':'freedom',
    'Generosity':'generosity',
    'Perceptions of corruption':'corruption',
    'Positive affect':'positivity',
    'Negative affect':'negativity'
}
df_happiness = df_happiness.rename(columns=cols)
#df_happiness.info()

In [11]:
# Get list of unique happiness countries
hap_country_list = df_happiness['country'].unique()
print(hap_country_list)
print(len(hap_country_list))

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong S.A.R. of China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'Somaliland region' 'South Africa' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'Türkiye' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen'
 'Zambia' 'Zimbabwe']
165

In [16]:
df_nutrition = pd.read_csv('../data/World_Bank/Food_Prices_for_Nutrition.csv', encoding = "ISO-8859-1")
df_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3725 entries, 0 to 3724
Data columns (total 40 columns):
 #   Column                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                      --------------  -----
 0   Classification Name                                                                                         3722 non-null   object
 1   Classification Code                                                                                         3720 non-null   object
 2   Country Name                                                                                                3720 non-null   object
 3   Country Code                                                                                                3720 non-null   object
 4   Time                                                                                                        3720 non-null   float64
 5   Time Code                                                                                                   3720 non-null   object
 6   Affordability of a healthy diet: ratio of cost to food expenditures [CoHD_fexp]                             3720 non-null   object
 7   Affordability of a healthy diet: ratio of cost to the food poverty line [CoHD_pov]                          3720 non-null   object
 8   Affordability of a nutrient adequate diet: ratio of cost to food expenditures [CoNA_fexp]                   3720 non-null   object
 9   Affordability of a nutrient adequate diet: ratio of cost to the food poverty line [CoNA_pov]                3720 non-null   object
 10  Affordability of an energy sufficient diet: ratio of cost to food expenditures [CoCA_fexp]                  3720 non-null   object
 11  Affordability of an energy sufficient diet: ratio of cost to the food poverty line [CoCA_pov]               3720 non-null   object
 12  Cost of a healthy diet [CoHD]                                                                               3720 non-null   object
 13  Cost of a healthy diet relative to the cost of sufficient energy from starchy staples [CoHD_CoCA]           3720 non-null   object
 14  Cost of a nutrient adequate diet [CoNA]                                                                     3720 non-null   object
 15  Cost of an energy sufficient diet [CoCA]                                                                    3720 non-null   object
 16  Cost of animal-source foods [CoHD_asf]                                                                      3720 non-null   object
 17  Cost of animal-sourced foods relative to the starchy staples in a least-cost healthy diet [CoHD_asf_ss]     3720 non-null   object
 18  Cost of fruits [CoHD_f]                                                                                     3720 non-null   object
 19  Cost of fruits relative to the starchy staples in a least-cost healthy diet [CoHD_f_ss]                     3720 non-null   object
 20  Cost of legumes, nuts and seeds [CoHD_lns]                                                                  3720 non-null   object
 21  Cost of legumes, nuts and seeds relative to the starchy staples in a least-cost healthy diet [CoHD_lns_ss]  3720 non-null   object
 22  Cost of oils and fats [CoHD_of]                                                                             3720 non-null   object
 23  Cost of oils and fats relative to the starchy staples in a least-cost healthy diet [CoHD_of_ss]             3720 non-null   object
 24  Cost of starchy staples [CoHD_ss]                                                                           3720 non-null   object
 25  Cost of vegetables [CoHD_v]                                                                                 3720 non-null   object
 26  Cost of vegetables relative to the starchy staples in a least-cost healthy diet [CoHD_v_ss]                 3720 non-null   object
 27  Cost share for animal-sourced foods in a least-cost healthy diet [CoHD_asf_prop]                            3720 non-null   object
 28  Cost share for fruits in a least-cost healthy diet [CoHD_f_prop]                                            3720 non-null   object
 29  Cost share for legumes, nuts and seeds in a least-cost healthy diet [CoHD_lns_prop]                         3720 non-null   object
 30  Cost share for oils and fats in a least-cost healthy diet [CoHD_of_prop]                                    3720 non-null   object
 31  Cost share for vegetables in a least-cost healthy diet [CoHD_v_prop]                                        3720 non-null   object
 32  Cost share for starchy staples in a least-cost healthy diet [CoHD_ss_prop]                                  3720 non-null   object
 33  Percent of the population who cannot afford sufficient calories [CoCA_headcount]                            3720 non-null   object
 34  Percent of the population who cannot afford nutrient adequacy [CoNA_headcount]                              3720 non-null   object
 35  Percent of the population who cannot afford a healthy diet [CoHD_headcount]                                 3720 non-null   object
 36  Millions of people who cannot afford sufficient calories [CoCA_unafford_n]                                  3720 non-null   object
 37  Millions of people who cannot afford nutrient adequacy [CoNA_unafford_n]                                    3720 non-null   object
 38  Millions of people who cannot afford a healthy diet [CoHD_unafford_n]                                       3720 non-null   object
 39  Population [Pop]                                                                                            3720 non-null   object
dtypes: float64(1), object(39)
memory usage: 1.1+ MB

In [17]:
# Get list of unique nutrition countries
nut_country_list = df_nutrition['Country Name'].sort_values(ascending=True).unique()
print(nut_country_list)
print(len(nut_country_list))

['Albania' 'Algeria' 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Costa Rica' 'Croatia' 'Curacao' 'Cyprus' 'Czech Republic'
 "Côte d'Ivoire" 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'East Asia & Pacific' 'Ecuador' 'Egypt, Arab Rep.' 'El Salvador'
 'Equatorial Guinea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Europe & Central Asia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia, The'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'High income' 'Honduras' 'Hong Kong SAR, China' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Korea, Rep.' 'Kuwait' 'Kyrgyz Republic' 'Lao PDR'
 'Latin America & Caribbean' 'Latvia' 'Lesotho' 'Liberia' 'Lithuania'
 'Low income' 'Lower middle income' 'Luxembourg' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico'
 'Middle East & North Africa' 'Moldova' 'Mongolia' 'Montenegro'
 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North America'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovak Republic' 'Slovenia' 'South Africa' 'South Asia' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Vincent and the Grenadines' 'Sub-Saharan Africa' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Taiwan, China' 'Tajikistan' 'Tanzania' 'Thailand'
 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turks and Caicos Islands'
 'Türkiye' 'Uganda' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Upper middle income' 'Uruguay' 'Vietnam' 'WORLD'
 'West Bank and Gaza' 'Zambia' 'Zimbabwe' nan]
187

In [25]:
# Get the count of medals for each country
drop_medal_cols = ['slug_game', 'game_end_date', 'game_start_date', 'game_location', 'game_name', 'game_year']
group_medal_cols = ['game_season', 'country_3_letter_code', 'country_name', 'discipline_title', 'event_title', 'event_gender', 'medal_type']
df_medals_season_country = df_medals.drop(columns=drop_medal_cols).groupby(
    group_medal_cols
)['participant_type'].count().reset_index()
df_medals_season_country.rename(columns={'participant_type':'medal_count', 'country_3_letter_code':'country_code'}, inplace=True)
df_medals_season_country.to_csv('../data/kaggle/olympic-games-medals/medals_by_season_country_discip_event_type.csv', index=False)
df_medals_season_country.head(10)

,game_season,country_code,country_name,discipline_title,event_title,event_gender,medal_type,medal_count
0,Summer,AFG,Afghanistan,Taekwondo,58 - 68 kg men,Men,BRONZE,1
1,Summer,AFG,Afghanistan,Taekwondo,beijing 2008 taekwondo - 58 kg men,Men,BRONZE,1
2,Summer,AHO,Netherlands Antilles,Sailing,division ii - windsurfer men,Open,SILVER,1
3,Summer,ALG,Algeria,Athletics,1500m men,Men,GOLD,2
4,Summer,ALG,Algeria,Athletics,1500m men,Men,SILVER,1
5,Summer,ALG,Algeria,Athletics,1500m women,Women,GOLD,2
6,Summer,ALG,Algeria,Athletics,5000m men,Men,SILVER,1
7,Summer,ALG,Algeria,Athletics,800m men,Men,BRONZE,1
8,Summer,ALG,Algeria,Athletics,800m men,Men,SILVER,1
9,Summer,ALG,Algeria,Athletics,high jump men,Men,BRONZE,1

In [22]:
drop_medal_cols = ['game_season', 'discipline_title', 'event_title', 'event_gender', 'medal_type']
group_medal_cols = ['country_3_letter_code', 'country_name']
df_medals_country_only = df_medals_season_country.drop(columns=drop_medal_cols).groupby(
    group_medal_cols
)['medal_count'].sum().reset_index()
df_medals_country_only.to_csv('../data/kaggle/olympic-games-medals/total_medals_by_country.csv', index=False)
df_medals_country_only.head(10)

  country_3_letter_code          country_name  medal_count
0                   AFG           Afghanistan            2
1                   AHO  Netherlands Antilles            1
2                   ALG               Algeria           17
3                   ANZ           Australasia           12
4                   ARG             Argentina           77
5                   ARM               Armenia           18
6                   AUS             Australia          566
7                   AUT               Austria          342
8                   AZE            Azerbaijan           50
9                   BAH               Bahamas           16

In [ ]:
df_happiness_country = df_happiness.drop(columns=['year']).groupby('country').mean()